/* Font */

@font-face {
    font-family: 'sakkal_majallaregular';
    src: url('../font/majalla-webfont.eot');
    src: url('../font/majalla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/majalla-webfont.woff2') format('woff2'),
         url('../font/majalla-webfont.woff') format('woff'),
         url('../font/majalla-webfont.ttf') format('truetype'),
         url('../font/majalla-webfont.svg#sakkal_majallaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}