/* -----------------------------------------------    MAIN STYLE   -------------------------------------------------- */
/* -----------------------------------------------    MAIN STYLE   -------------------------------------------------- */
/* -----------------------------------------------    MAIN STYLE   -------------------------------------------------- */

html {
	width: 100%;
	background-color: white; 
	background-image: url('../img/system/defaults/background_default_medium.jpg');
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;	
	font-weight: 200;
}

body
{	
	width: 100%;
	background-color: transparent;
	font-weight: 200;
	color: rgba(41,41,41,0.95) !important;
}

/* ------------------------------------------------------ General ------------------------------------------------------ */
.margin0 {
	margin:0;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_bottom_10 {
	margin-bottom: 10px;
}
.margin_right_30 {
	margin-right: 30px;
}
.margin_top_30 {
	margin-top: 30px;
}
.padding0 {
	padding: 0;
}
img {
	width: 100%;
}

h1
{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100 !important;
}
@media (min-width: 1400px) {
	h1 {
		font-size: 2.4em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	h1 {
		font-size: 1.9em;
	}
}
@media (max-width: 991px) {
	h1 {
		font-size: 1.4em !important;
	}
}

h2
{	
	margin: 0;
	padding: 0;
	font-weight: 400 !important;
	color: inherit;
}
h2 span {
	margin: 0 !important;
	/*margin-top: -8px !important;*/
	margin-bottom: 8px !important;
	padding: 0 !important;
	font-weight: 150 !important;
}
@media (min-width: 1400px) {
	h2 {
		margin-bottom: 8px !important;
		font-size: 2em;
	}
	h2 span {
		font-size: 0.6em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h2 {
		margin-bottom: 7px !important;
		font-size: 1.6em;
	}
	h2 span {
		font-size: 0.6em;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	h2 {
		margin-bottom: 5px !important;
		font-size: 1.3em;
	}
	h2 span {
		font-size: 0.6em;
	}
}
@media (max-width: 477px) {
	h2 {
		margin-top: 20px !important;
		margin-bottom: 3px !important;
		font-size: 1.5em;
	}
	h2 span {
		font-size: 0.7em;
	}
}


h3
{	
	font-weight: 300 !important;
	padding: 0 !important;
	margin: 0 !important;
	color: inherit;
}
@media (min-width: 1400px) {
	h3 {
		font-size: 1.7em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	h3 {
		font-size: 1.4em;
	}
}
@media (max-width: 991px) {
	h3 {
		font-size: 1.1em;
	}
}

h4
{	
	padding: 0;
	margin: 0;
	margin-bottom: 6px !important;
	text-align: center;
}
@media (min-width: 1400px) {
	h4 {
		font-size: 1.3em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	h4 {
		font-size: 1.2em;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	h4 {
		font-size: 1.1em;
	}
}
@media (max-width: 477px) {
	h4 {
		font-size: 1.2em;
	}
}

h5
{	
	padding: 0;
	margin: 0;
	text-align: center;
}
@media (min-width: 1400px) {
	h5 {
		font-size: 1.1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	h5 {
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	h5 {
		font-size: 0.9em;
	}
}
@media (max-width: 477px) {
	h5 {
		font-size: 0.8em;
	}
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	color: rgba(41,41,41,0.5);
	background-color: rgba(41,41,41,0.5);
}
.hr60 {
	margin: auto !important;
	width: 60% !important;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-center {
	float: center;
}
.float-left {
	float: left;
}
.bold {
	font-weight: 800;
}
.font1em {
	font-size: 1em;
}
.font10 {
	font-size: 10px;
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
.font20 {
	font-size: 20px;
}
.paragraph {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.italic {
	font-style: italic;
}
.uppercase {
	text-transform : uppercase;
}

ul {
	list-style-type: circle;
}
ul ul {
	list-style-type: square;
}
.list_no_style_li {
	list-style-type: none;
}
a, a:focus {
	outline:none;
	color: inherit;
	text-decoration: none;
}
button, button:focus {
	outline:none;
	color: inherit;
	text-decoration: none;	
}
a:hover {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}
.no_style_a, .no_style_a:focus {
	outline:none;
	text-decoration: none;
	font-style: normal;
}
.no_style_a:hover {
	color: inherit;
	text-decoration: none;
	font-style: normal;
}
.no_style_button, .no_style_button:focus {
	outline:none;
	border: none;
	background-color: transparent;
	box-shadow: none;
}
.btn:focus {
	outline:none;
	color: inherit;
	text-decoration: none;
	box-shadow: none;
}
p {	
	margin: 5px 10px 5px 10px;
	text-align: center;
	color: inherit;
}
@media (min-width: 992px) {
	p {
		font-size: 1em;
	}
}
@media (max-width: 991px) {
	p {
		font-size: 0.8em;
	}
}

strong {
	font-weight: 900;
}
.row {
	width: 100%;
	margin: 0;
}
.row90 {
	width: 90%;
	margin-left: 5%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.row80 {
	width: 80%;
	margin-left: 10%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.row60 {
	width: 60%;
	margin-left: 20%;
	margin-top: 0;
	margin-bottom: 0;
}
.inline_div {
	display: inline-block;
}
.block_div {
	display: block;
}
.opacity0 {
	opacity: 0;
}
.opacity05 {
	opacity: 0.5;
}
.opacity1 {
	opacity: 1;
}
.cursor_default {
	cursor: default !important;
}
textarea {
	resize: vertical;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	padding: 5px !important;
}

.white {
	color: white;
}
.black {
	color: black;
}


/* ------------------------------------------------------ Header ------------------------------------------------------ */
#header {
	position: fixed;
	top: 0px;
	z-index: 1000 !important;
	background-color: rgba(41,41,41,0.95); /*#222121*/
	border-bottom: 1px solid rgba(250,250,250,0.6);
	box-shadow: 0px 1px 3px 2px rgba(41,41,41,0.4);

	text-transform : uppercase;
	min-height: 36px;
	max-height: 50px;

	padding-top: 5px;
	padding-bottom: 1px !important;

	color: white !important;
}

.navbar {
	padding: 0 !important;
	margin: 0 !important;
}
.navbar-brand {
	font-weight: 500 !important;
	font-size: 1em !important;
	z-index: 10100 !important ;
}
.navbar-collapse, .navbar-inverse {
	background-color: rgba(41,41,41,0.95) !important;
}

.user_img_header {
	border: 1px solid white;
	margin: 0;
	position: relative;
}
.user_info_header {
	overflow: hidden;
	border-bottom: 1px solid transparent;
}
@media (min-width: 1400px) {
	.user_img_header {
		border-radius: 20px;
		width: 40px !important;
	}
	.user_info_header {
		font-size: 0.8em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.user_img_header {
		border-radius: 14px;
		width: 28px !important;
	}
	.user_info_header {
		font-size: 0.8em;
	}
}
@media (max-width: 991px) {
	.user_img_header {
		border-radius: 10px;
		width: 20px !important;
	}
	.user_info_header {
		font-size: 0.58em;
	}
}
.user_access_button:hover .user_info_header {
	border-bottom: 1px solid white;
}

.button_anchors {
	display: inline-block !important;
}

.btn-log, .btn-log:focus {
	outline:none;
	margin: 1px !important;

	background-color: transparent;
	/*border: 1px solid white;*/
	border-radius: 0;
	border-bottom: 1.5px solid transparent;
	border-top: 1.5px solid transparent;
	box-shadow: none;
	color: inherit;
}
.btn-log:hover, .btn-log-active {
	background-color: transparent;
	color: inherit;
	border-bottom: 1.5px solid white;
	border-top: 1.5px solid white;
	box-shadow: none;
}
@media (min-width: 1400px) {
	.btn-log {
		padding: 5px 9px; 
		font-size: 1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.btn-log {
		padding: 4px 7px; 
		font-size: 0.75em;
	}
}
@media (min-width: 478px) and (max-width: 993px){
	.btn-log {
		padding: 3px 5px; 
		font-size: 0.58em;
	}
}

.btn-log-xs:hover {
	background-color: transparent !important;
	color: rgba(250,250,250,1) !important;
	border-bottom: 1.5px solid transparent !important;
	border-top: 1.5px solid transparent !important;
}
.btn-log-xs, .btn-log-xs:focus {
	text-align: center !important;
	width: 100% !important;
	outline:none;
	margin: 1px !important;
	color: rgba(250,250,250,0.7) !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	border-bottom: 1.5px solid transparent !important;
	border-top: 1.5px solid transparent !important;
	padding: 5px 9px !important; 
	font-size: 1.4em !important;
}

.btn-log-xs-spe:hover {
	background-color: transparent !important;
	color: rgba(250,250,250,1) !important;
	border-bottom: 1.5px solid transparent !important;
	border-top: 1.5px solid transparent !important;
}
.btn-log-xs-spe, .btn-log-xs-spe:focus {
	text-align: center !important;
	outline:none;
	margin: 1px !important;
	color: rgba(250,250,250,0.7) !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	border-bottom: 1.5px solid transparent !important;
	border-top: 1.5px solid transparent !important;
	padding: 5px 9px !important; 
	font-size: 1.4em !important;
}


.top_button {
	margin-bottom: 6px;
}

@media (min-width: 1400px) {
	.language_flag {
	  width: 25px;
	}
	.language_box {
		margin-top: 4px;
		margin-right: 5px;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.language_flag {
	  width: 19px;
	}
	.language_box {
		margin-top: 2px;
		margin-right: 2px;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.language_flag {
	  width: 16px;
	}
	.language_box {
		margin-top: 1px;
		margin-right: 1px;
	}
}

.language_selection {
	margin-left: 10px;
	opacity: 0.4;
}

.language_selection:hover, .language_selection_xs:hover, .language_active, .language_active_xs {
	opacity: 1;
}

.language_selection, .language_selection:hover, .language_selection_xs, .language_selection_xs:hover {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}

.language_flag_xs {
  width: 30px;
}
.language_box_xs {
	margin: 0 !important;
	padding: 0 !important;
}
.language_selection_xs {
	margin-left: 15px;
	margin-right: 15px;
	opacity: 0.5;
}


.cart_button {

}
.cart_button div {
	display: inline-block;
}
.number_notif {
	background-color: white;
	color: rgba(41,41,41,0.95);
	font-size: 1em;
	text-align: center;
	margin-left: 5px;
	position: relative;
}
@media (min-width: 1400px) {
	.number_notif {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		top: -1px;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.number_notif {
		width: 16px;
		height: 16px;
		border-radius: 8px;
		top: -1px;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.number_notif {
		width: 12px;
		height: 12px;
		border-radius: 6px;
		top: -1px;
	}
}
.number_notif_XS {
	background-color: white;
	color: rgba(41,41,41,0.95);
	font-size: 1em;
	text-align: center;
	margin-left: 5px;
	position: relative;
	width: 30px !important;
	height: 30px !important;
	border-radius: 15px !important;
}

.number_notif_XS_bis {
	background-color: white;
	color: rgba(41,41,41,0.95);
	font-size: 1em;
	text-align: center;
	position: relative;
	top: 12px;
	right: 12px;
	width: 20px !important;
	height: 20px !important;
	border-radius: 10px !important;
}

#social_media {	
	position:fixed;
	color: rgba(41,41,41,0.95);
	top: 43%;
	border: 1px solid rgba(41,41,41,0.95);
	border-radius: 0;
	box-shadow: 0 0 10px 4px rgba(41,41,41,0.3);
	background: transparent;
	margin: 0;
	padding: 0;

	z-index:10100;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}
@media (min-width: 1400px) {
	#social_media {
		left: -100.5px;
		font-size: 1.1em;
	}
	.social_label {
		width: 100px;
	}
	.social_icon {
		width: 36px;
	}
	.social_item, .social_item_spe {
		width: 136px;
		height: 36px;
	}
	.social_label, .social_icon {
		padding: 8px !important;
		height: 36px;	
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	#social_media {
		left: -80.5px;
		font-size: 0.9em;
	}
	.social_label {
		width: 80px;
	}
	.social_icon {
		width: 30px;
	}
	.social_item, .social_item_spe {
		width: 110px;
		height: 30px;
	}
	.social_label, .social_icon {
		padding: 7px !important;
		height: 30px;	
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	#social_media {
		left: -60.5px;
		font-size: 0.7em;
	}
	.social_label {
		width: 60px;
	}
	.social_icon {
		width: 25px;
	}
	.social_item, .social_item_spe {
		width: 85px;
		height: 25px;
	}
	.social_label, .social_icon {
		padding: 4px !important;
		height: 25px;	
	}
}
#social_media:hover  {
	left: 0px;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}
.social_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.social_item, .social_item_spe {
	margin: 0;
	padding: 0;
}
.social_item {
	background: rgba(250,250,250,0.7); /*rgba(40,40,40,0.95);*/
}
.social_item:hover {
	background: rgba(215,215,215,1); /*rgba(40,40,40,0.95);*/
}
.social_item_spe {
	color: white !important;
	background-color: rgba(200,50,20,0.7);
}
.social_item_spe:hover {
	color: white !important;
	background-color: rgba(200,50,30,1);
}
.social_label {
	float: left;
}
.social_icon
{	
	float: right;
}
.social_label, .social_icon {	
	margin: 0 !important;
	background-color: transparent;
	display: inline-block;
}

.social_fb {
	background-image: url('../img/system/social/fb.png');
	background-size: 100%;
}
.social_tw {
	background-image: url('../img/system/social/tw.png');
	background-size: 100%;
}
.social_mail {
	background-image: url('../img/system/social/mail.png');
	background-size: 100%;
}

.social_list_xs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.social_list_xs li {
	display: inline-block;
}
.social_item_xs, .social_item_spe_xs {
	margin: 0 15px;
	padding: 0;
}
.social_item_xs {
	background: rgba(250,250,250,0.85); /*rgba(40,40,40,0.95);*/
}
.social_item_xs:hover {
	background: rgba(215,215,215,1); /*rgba(40,40,40,0.95);*/
}
.social_item_spe_xs {
	color: white !important;
	background-color: rgba(200,50,20,0.85);
}
.social_item_spe_xs:hover {
	color: white !important;
	background-color: rgba(200,50,30,1);
}
.social_icon_xs
{	
	margin: 0 !important;
	background-color: transparent;
	display: inline-block;
}
.social_icon_xs {
	width: 32px !important;
	height: 32px !important;
}
.social_item_xs, .social_item_spe_xs {
	width: 32px !important;
	height: 32px !important;
}

#button_to_top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	z-index: 10100;
}
#button_to_top button {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center !important;
	background-color: rgba(255,185,185,0.8); /*rgba(250,250,250,0.85);*/
}
.btn-to-top {
	color: rgba(41,41,41,0.95);
	margin-left: 10px;
	margin-right: 10px;
	background-color: transparent;
	/*border: 1px solid white;*/
	border-radius: 0;
	border: 1.5px solid rgba(228,43, 54, 0.8);
}
.btn-to-top:hover {
	/*background-color: rgba(0,0,0,0.5);*/
	color: rgba(41,41,41,0.95);
	border: 1.5px solid rgba(41,41,41,0.95);
}

#side_buttons {
	position: fixed;
	right: 22px;
	top: 42%;
	width: 12px;
	z-index: 10100;
}
@media (max-width: 991px) {
	#side_buttons {
		right: 14px !important;
	}
}
.btn-side {
	width: 10px !important;
	height: 10px !important;
	border-radius: 5px !important;
	margin: 1px 0 !important;
	padding: 0;
	background-color: transparent;
	border: 1px solid rgba(41,41,41,0.95);
}
.btn-side:hover {
	border: 1px solid transparent;
	background-color: rgba(41,41,41,0.7);
}
.btn-side-active, .btn-side-active:hover {
	border: 1px solid transparent;
	background-color: rgba(41,41,41,0.95);
}
.pop_hover_side {
    position:absolute;
    margin-top: -10px;
    margin-left: -110px;
    width: 100px;
	text-align: right !important;
    color: rgba(41,41,41,0.95);
    background: transparent;
    padding: 0;
    border: none;
    opacity: 0;
    z-index: 10000;
}
.btn-side:hover .pop_hover_side, .btn-side:focus .pop_hover_side {
	opacity: 1;
}
@media (max-width: 1260px) {
	/* For the white spots in the footer */
	.btn-side-footer {
		border: 1px solid white !important;
	}
	.btn-side-footer:hover {
		background-color: rgba(250,250,250,0.7) !important;
	}
	.btn-side-footer-active, .btn-side-footer-active:hover {
		background-color: white !important;
	}
}
@media (max-width: 1399px) {
	/* For the white writings in the footer */
	.btn-side-footer .pop_hover_side {
		color: white !important;
	}
}


#mobile_nav {
	z-index: 1000;
}
#mobile_nav ul {
	padding: 0;
	margin: 0;
}
#mobile_nav ul li {
	width: 100%;
	text-align: center;
	list-style-type: none !important;
}
.divider-lbf {
	padding: 0 !important;
	margin: 8px 0 !important;
	border-bottom: 1px solid rgba(200,200,200,0.4);
	z-index: 1001;
}


/* -----------------------------------------------    Content   -------------------------------------------------- */

.page-container {
	background-color: rgba(260,255,255,0.96); /*#541009 ;*/
	margin: auto !important;
	width: 100% !important;
	max-width: 1200px !important;
	border-left: 1px solid rgba(41,41,41,0.95);
	border-right: 1px solid rgba(41,41,41,0.95);
	box-shadow: 0px 4px 8px 4px rgba(41,41,41,0.3);
	color: rgba(41,41,41,0.95) !important;
	overflow: hidden !important;
}

#sessionFlash {
	position: fixed;
	bottom : 10px;
	text-align: center;
	margin: auto;
	display: none;
	z-index: 99999;
	font-size: 1em;
	width: 100% !important;
}
.alert {
	padding: 4px 30px 4px 10px;
	border: 1px solid rgba(41,41,41,0.5);
}
@media (min-width: 1400px) {
	.alert {
		width: 80% !important;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.alert {
		width: 100% !important;
	}
}
@media (max-width: 991px) {
	.alert {
		width: 100% !important;
	}
}

.section_padding {
	padding-top: 50px !important;
}
.section {
	border-bottom: 1px solid rgba(41,41,41,0.95);
}
@media (min-width: 992px) {
	.section {
		height: 100% !important;
	}
}

.logo_welcome {
	position: absolute !important;
	z-index: 50 !important;
}
.logo_welcome_img {
	width: 100%;
}
@media (min-width: 1400px) {
	.logo_welcome {
		top : 65px !important;
		margin-left: 39%;
		width: 22%;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.logo_welcome {
		top : 55px !important;
		margin-left: 41%;
		width: 18%;
	}
}
@media (max-width: 991px) {
	.logo_welcome {
		top : 45px !important;
		margin-left: 42%;
		width: 16%;
	}
}
.logo_header_sm_img {
	width: 34%;
	max-width: 100px;
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 10100 !important ;
}

.presentation_photos {
}

.content_presentation {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	border-bottom: 5px solid rgba(41,41,41,0.95) !important; /* #d10909 */
	z-index: 1 !important;
}
@media (max-width: 477px) {
	.content_presentation {
		position: relative;
		top: 20px;
	}
}

.presentation_img {
	width: 100%;
}

.captionOrange, .captionrgba(41,41,41,0.95)
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.8);
}
.captionrgba(41,41,41,0.95)
{
	font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.8);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
    background: url('../img/sytem/slideshow/browser-icons.png');
}

/* Bullet Navigator Skin */
/* jssor slider bullet navigator skin 01 */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }


/* Arrow Navigator Skin */
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url('../img/system/slideshow/arrows.png') no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }


.presentation_texte {
	margin-top: 5px;
	padding: 10px 0;
	color: inherit;
}
.icon_presentation {
	width: 40%;
}
.icon_presentation_xs {
	width: 90%;
}
.sep_presentation {
	padding: 0 !important;
	margin: 5px 0 5px 0 !important;
	border-bottom: 1px dotted rgba(41,41,41,0.5);
}

.title_div {
	margin-top: 0;
}
@media (min-width: 1400px) {
	.title_div {
		margin-bottom: 20px !important;
	}
}
@media (max-width: 1399px){
	.title_div {
		margin-bottom: 0px !important;
	}
}

.read-more {
	margin-top: 15px !important;
	border-bottom: 2px solid transparent;
	padding-bottom: 0 !important;
}
.read-more:hover, .pres_a:hover .read-more {
	border-bottom: 1px solid rgba(41,41,41,0.95);
}
.modal-content {
	padding: 0px !important;
}
.modal-dialog {
	/*background-color: rgba(41,41,41,0.95);*/
	background-color: rgba(250,250,250,0.99); /*rgba(120,30,20,0.99) ;*/
	/*background-image: url('../img/system/defaults/background_default_medium.png');*/
	border: 1px solid white;
	border-radius: 0;
	color: rgba(41,41,41,0.95);
}
.modal-title {
	padding: 0 !important;
	margin: 0 !important;
}
.modal-header, .modal-footer {
	color: white !important;
	background-color: rgba(41,41,41,0.95);
}
.modal-content, .modal-body {
	background-color: transparent;
}
.modal-footer {
	padding: 5px !important;
}
.modal-backdrop {
  z-index: -1;
}
.modal-body, .modal-body-inner {
    /*max-height:500px;*/
    overflow:auto;
}
body.modal-open {
	overflow: hidden;
}
.btn-modal {
	margin: 10px;
	font-size : 1em;
	background-color: transparent;
	border: 1px solid white !important;
	border-radius: 0;
}
.btn-modal:hover, .btn-modal-active {
	border: 1px solid white !important;
	background-color: rgba(250,250,250,0.4);
	color: white;
}

.nav-tabs {
	margin-top: 0 !important;
	font-size: 1em;
}
@media (max-width: 991px) {
	.nav-tabs {
		font-size: 0.9em;
	}
}
.nav-tabs li {
	text-align: center;
}
.nav-tabs li a {
	width: 100%;
	color: rgba(41,41,41,0.95);
	/*border: 1px dotted rgba(41,41,41,0.05);*/
}
.nav-tabs li a:hover {
	background-color: rgba(41,41,41,0.1) !important;
	color: rgba(41,41,41,0.95);
}
.nav-tabs li.active a:hover {
	background-color: white !important;
}
@media (min-width: 769px) {
	.nav-tabs li {
		background-color: transparent !important;
	}
	.nav-tabs li a {
		background-color: transparent !important;
	}
	.nav-tabs li.active a {
		background-color: transparent !important;
		border-bottom: 1px solid transparent !important;
	}
}
.nav-tabs.nav-justified li {

}
.tab-content {
	font-size: 1em;
}
@media (max-width: 991px) {
	.tab-content {
		font-size: 0.8em !important;
	}
}
.tab-pane ul, .tab_select {
	font-size: 1em;
}
@media (max-width: 991px) {
	.tab-pane ul, .tab_select {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 0.8em !important;
	}
}

.btn_right_arrow {
	width: 20px;
	position: relative;
	top: -2px;
}
@media (max-width: 477px) {
	.btn_right_arrow {
		width: 14px !important;
		top: 0px !important;
	}
}

.btn_right_arrow_spe {
	width: 30px;
	position: relative;
	top: -4px;
	margin-right: 5px;
}
@media (max-width: 477px) {
	.btn_right_arrow_spe {
		width: 14px !important;
		top: 0px !important;
	}
}
.btn_right_arrow_spe_2 {
	width: 24px;
	position: relative;
	top: -2px;
	right: -15px;
}

#product_content {
	color: rgba(41,41,41,0.95) !important;
}

.btn-choice {
	text-align: left;
	width: 100%;
	height: 30px;
	margin-left: 3px;
	margin-top: 3px;
	background-color: transparent;
	padding: 6px 10px;
	border-radius: 5px;
	color: rgba(41,41,41,0.95);
	overflow: hidden !important;
}
.btn-choice:hover, .tabbable .active .btn-choice {
	background-color: rgba(100,100,100,0.2);
	color: rgba(41,41,41,0.95);
}
@media (min-width: 1400px) {
	.btn-choice {
		font-size : 1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.btn-choice {
		font-size : 1em;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.btn-choice {
		font-size : 1.4em;
	}
}
@media (max-width: 477px) {
	.btn-choice {
		font-size : 1.5em;
	}
}


.inner_arrow {
	display: inline-block;
	opacity: 0;
}
.btn-choice:hover .inner_arrow {
	opacity: 0.5;
}
.tabbable .active .btn-choice .inner_arrow{
	opacity: 1 ;
}

.product_img {
	border-radius: 50%;
	border: 1px solid rgba(41,41,41,0.5);
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}
@media (max-width: 991px) {
	.product_img {
		width: 60% !important;
		margin-left: 20% !important;
	}
}
.product_img_bis {
	border-radius: 50%;
	border: 1px solid rgba(41,41,41,0.5);
	width: 100%;
	padding: 0;
	margin-bottom: 0px;
	margin-top: 10px;	
}
.product_img_admin {
	border-radius: 50%;
	border: 1px solid rgba(41,41,41,0.5);
	width: 50px;
	height: 50px;
	margin: 0;
}

.recipe_img, .recipe_img_lg {
	border-radius: 0%;
	border: 1px solid rgba(41,41,41,0.5);
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}

.recipe_border {
	border: 1px solid rgba(41,41,41,0.95);
	padding: 10px;
}

.small_quote {
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
}

.sep_dotted_right {
	border-right: 1px dotted rgba(41,41,41,0.5);
}
.creator_padding {
	padding: 8px 0 !important;
	margin: 0;
}
.sep_dotted_bottom {
	border-bottom: 1px dotted rgba(41,41,41,0.5);
}

.creator_img {
	border-radius: 50%;
	border: 1px solid rgba(41,41,41,0.5);
	margin-left: 25%;
	width: 50%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.creator_img_xs {
	border-radius: 50%;
	border: 1px solid rgba(41,41,41,0.5);
	width: 90%;
	margin-top: 0px;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.product_info_xs {
		font-size: 1.4em;
	}
	.tab-pane {
		padding: 0 !important;
		margin: 0 !important;
	}
}

.add_buttons, .add_buttons_XS, .add_buttons_spe {
	margin: 0;
	text-align: center;
	font-size: 1.3em !important;
	color: rgba(41,41,41,0.95);
	background-color: transparent;
	border : 1px solid rgba(41,41,41,0.95);
	position: relative;
	top: 5px;
}

.add_button_plus {
	border: none;
	background-color: transparent !important;
	box-shadow: none;
	background-image: url('../img/system/cart/add_button_plus.png');
	background-size: 100%;
	opacity: 0.5;
}
.add_button_plus:hover, .add_button_plus:active {
	opacity: 1;
}
.add_button_plus, .add_button_plus:focus {
	outline:none;
	border: none;
	background-color: transparent !important;
	box-shadow: none;
}
.add_button_minus {
	border: none;
	background-color: transparent !important;
	box-shadow: none;
	background-image: url('../img/system/cart/add_button_minus.png');
	background-size: 100%;
	opacity: 0.5;
}
.add_button_minus:hover, .add_button_minus:active {
	opacity: 1;
}
.add_button_minus, .add_button_minus:focus {
	outline:none;
	border: none;
	background-color: transparent !important;
	box-shadow: none;
}

.add_buttons:hover, .add_buttons:active, .add_buttons:focus {
	outline: none;
	color: rgba(41,41,41,0.95);
	background-color: transparent !important;
}
.add_buttons:active {
	top: 7px;
}
@media (min-width: 1400px) {
	.add_buttons {
		width: 30px;
		height: 30px;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.add_buttons {
		width: 26px;
		height: 26px;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.add_buttons {
		width: 20px;
		height: 20px;
	}
}
@media (min-width: 1400px) {
	.add_buttons_spe {
		width: 20px;
		height: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.add_buttons_spe {
		width: 16px;
		height: 16px;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.add_buttons_spe {
		width: 12px;
		height: 12px;
	}
}
.add_buttons_XS {
	width: 30px !important;
	height: 30px !important;
	margin-left: 5px;
	margin-right: 5px;
	top: 8px !important;
}
.add_buttons_spe_XS {
	width: 18px !important;
	height: 18px !important;
	margin-left: 3px;
	margin-right: 3px;
	top: 4px !important;
}

@media (min-width: 1400px) {
	.info_spe {
		font-size: 0.9em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.info_spe {
		font-size: 0.85em;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.info_spe {
		font-size: 0.8em;
	}
}

.counter_info_divs {
	font-style: italic;
	font-weight: 600;
	font-size: 1.1em;
	position: relative;
	top: 10px;
}

@media (max-width: 768px) {
	.counter_info_divs {
		font-style: normal !important;
		font-size: 1.6em !important;
		padding: 0 !important;
	}
}
.counter_price_divs {
	color: white;
	font-weight: 600;
	font-size: 1.1em;
	position: relative;
	top: 5px;
	background-color: rgba(41,41,41,0.5);
	padding: 5px 2px 5px 8px;
}
#counter_products {
}
.btn-add-to-cart {
	border: none;
	background-color: transparent;
	border-radius: 0px;
	box-shadow: none;
	width: 50px;
	height: 50px;
	background-image: url('../img/system/cart/cart_icon.png');
	background-size: 100%;
	position: relative;
	top: -5px;
	opacity: 0.5;
}
.btn-add-to-cart:hover, .btn-add-to-cart:active {
	opacity: 1;
}
.btn-add-to-cart, .btn-add-to-cart:focus {
	outline:none;
	border: none;
	background-color: transparent;
	box-shadow: none;
}

.btn-add-to-cart-spe button {
	top: 5px !important;
	width: 26px !important;
	height: 26px !important;
}

.btn-loading {
	border: none;
	background-color: transparent;
	border-radius: 0px;
	box-shadow: none;
	width: 50px;
	height: 50px;
	background-image: url('../img/system/cart/loader.gif');
	background-size: 100%;
	position: relative;
	top: -5px;
}
.cart_price {
	color: rgba(41,41,41,0.95);
	font-weight: 500;
	background-color: transparent; /*rgba(120,30,20,0.7);*/
	padding: 5px;
	padding-right: 2px;
	border: 1px solid rgba(41,41,41,0.5);
	margin: 10px;
	min-height: 40px;
}
@media (min-width: 1400px) {
	.cart_price {
		font-size: 1.2em;
		width: 50%;
		margin-left: 25%;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.cart_price {
		font-size: 1.1em;
		width: 60%;
		margin-left: 20%;
	}
}
@media (max-width: 991px) {
	.cart_price {
		font-size: 1em;
		width: 80%;
		margin-left: 10%;
	}
}

.frise_history {
	max-width: 100%;
}

.bio {
	line-height: 130%;
	text-align: justify;
}
@media (min-width: 1400px) {
	.bio {
		font-size: 1.1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.bio {
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 991px) {
	.bio {
		font-size: 0.9em;
	}
}
@media (max-width: 477px) {
	.bio {
		font-size: 0.9em;
	}
}


.news_on_page {
	position: fixed;
	left: 40px;
	bottom: 40px;
	width: 200px;
	opacity: 1;
}

.news_on_page_img {
	width: 100%;
	opacity: 1;
}


/* ------------------------------------------------------ Login ------------------------------------------------------ */
.login_background {
	background-color: inherit;
}
#login_section {
	/*font-size: 1em;*/
	padding: 30px;
	border: 1px solid rgba(41,41,41,0.5);
	overflow: scroll !important;
}
@media (min-width: 992px) {
	#login_section {
		width: 60%;
		margin-left: 20%;
	}
}
@media (max-width: 991px) {
	#login_section {
		width: 96%;
		margin-left: 2%;
		margin-bottom: 20px;
	}
	#login_content {
		margin-top: 20px;
	}
}
#login_content {
	min-height: 100px;
}

.login_titles {
	margin: 0;
	padding: 8px;
	margin-bottom: 12px;
	border-top: 1px dotted transparent;
	border-left: 1px dotted transparent;
	border-right: 1px dotted transparent;
	border-bottom: 1px dotted rgba(41,41,41,0.5);
}
.login_title_active, .login_title_other:hover {
	border-bottom: 1px dotted transparent !important;
	border-top: 1px dotted rgba(41,41,41,0.5);
	border-left: 1px dotted rgba(41,41,41,0.5);
	border-right: 1px dotted rgba(41,41,41,0.5);
}

.btn-login, .btn-login:focus {
	outline:none;
	margin: 5px;
	padding: 5px 9px 1px 9px; 
	background-color: transparent;
	/*border: 1px solid white;*/
	border-radius: 0;
	border-bottom: 1.5px solid transparent;
	border-top: 1.5px solid transparent;

	color: rgba(41,41,41,0.5);
}
@media (min-width: 1400px) {
	.btn-login {
		font-size: 1.1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.btn-login {
		font-size: 1em;
	}
}
@media (min-width: 769px) and (max-width: 991px){
	.btn-login {
		font-size: 0.9em;
	}
}
@media (max-width: 768px) {
	.btn-login {
		font-size: 1.1em !important;
	}
}
.btn-login:hover, .btn-login-active {
	background-color: transparent;
	color: rgba(41,41,41,0.95);
	border-bottom: 1.5px solid rgba(41,41,41,0.95);
	border-top: 1.5px solid rgba(41,41,41,0.95);
}
.btn-login .btn_right_arrow {
	opacity: 0.5;
}
.btn-login:hover .btn_right_arrow, .btn-login-active .btn_right_arrow {
	opacity: 0.95;
}

.border_bottom_white_dotted {
	border-bottom: 1px dotted rgba(41,41,41,0.5);
	margin-bottom: 10px;
}
.border_top_dotted {
	border-top: 1px dotted rgba(41,41,41,0.5);	
	padding-top: 10px;
}

.remember_me_box {
	margin-left: 40%;
}
.web_conditions_box {
	margin-left: 10%;
}

.add_buttons_cart {
	padding: 0;
	text-align: center;
	width: 20px;
	height: 20px;
	color: rgba(41,41,41,0.95);
	background-color: rgba(250,250,250,0.4);
	border : 1px solid rgba(41,41,41,0.5);
	border-radius: 10px;
	position: relative;
	top: 0px;
}
.add_buttons_cart:hover, .add_buttons_cart:active {
	color: rgba(41,41,41,0.95);
	background-color: rgba(250,250,250,0.9);
}

.delete_buttons_cart {
	padding: 2px 8px;
	text-align: center;
	color: rgba(41,41,41,0.95);
	background-color: transparent;
	border : 1px solid rgba(41,41,41,0.5);
	border-radius: 0px;
	position: relative;
	top: 0px;
}
@media (min-width: 1400px) {
	.delete_buttons_cart {
		/*font-size: 1em !important;*/
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.delete_buttons_cart {
		/*font-size: 0.9em !important;*/
	}
}
@media (max-width: 991px) {
	.delete_buttons_cart {
		/*font-size: 0.8em !important;*/
	}
}
.delete_buttons_cart:hover, .delete_buttons_cart:active {
	color: rgba(41,41,41,0.95);
	background-color: rgba(100,100,100,0.3);
	border : 1px solid rgba(41,41,41,0.95);
}

.table > tbody > tr:hover {
	background-color: rgba(100,100,100,0.3);
}


/* ------------------------------------------------------ Order chain ------------------------------------------------------ */
#breadcrumb {
	padding: 0 !important;
	margin: auto;
}
#breadcrumb .inline_div {
	width: 30%;
	margin-top: 15px;
	border-bottom: 2px solid transparent;
}
@media (min-width: 1400px) {
	#breadcrumb .inline_div {
		/*font-size: 1.4em !important;*/
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	#breadcrumb .inline_div {
		/*font-size: 1.2em !important;*/
	}
}
@media (max-width: 991px) {
	#breadcrumb .inline_div {
		/*font-size: 1em !important;*/
	}
}

.breadcrumb_active {
	border-bottom: 2px solid rgba(41,41,41,0.5) !important;
}

.address_box {
	text-align: center;
	border: 1px dotted rgba(41,41,41,0.5);
}
@media (min-width: 992px) {
	.address_box {
		margin-left: 35%;
		width: 30%;
	}
}
@media (min-width: 478px) and (max-width: 991px) { 
	.address_box {
		margin-left: 25%;
		width: 50%;
	}
}
@media (max-width: 477px) {
	.address_box {
		margin-left: 5%;
		width: 90%;
	}
}

.border_white {
	border: 1px solid rgba(41,41,41,0.5);
	padding: 5px;
	margin: 0;
	width: 30%;
	text-align: center;
}
.border_white_xs {
	border: 1px solid rgba(41,41,41,0.5);
	padding: 5px;
	margin: 0;
	width: 100%;
	text-align: center;	
}

@media (min-width: 992px) {
	.cart_content {
		width: 80%;
		margin-left: 10%;
	}
}
@media (max-width: 991px) {
	.cart_content {
		width: 92%;
		margin-left: 4%;
	}
}

.bin_icon {
	position: relative;
	top: 4px;
	left: 2px;
	opacity: 0.7;
}

/* Testimony */
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    margin-right:5px;
    background-image: url('../img/system/evaluation/star-empty.png');
    background-size: 100%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background-image: url('../img/system/evaluation/star-full.png');
    background-size: 100%;
}

/* ------------------------------------------------------ User ------------------------------------------------------ */
.user_img {
	width: 100%;
	border-radius: 50%;
	border : 1px solid rgba(41,41,41,0.95);
}

.nav_tabs_user {
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav_tabs_user .active .btn-choice .inner_arrow{
	opacity: 1;
}
.nav_tabs_user .active .btn-choice {
	background-color: rgba(41,41,41,0.1);
}
.logout-btn:hover {
	background-color: rgba(196,1,1,0.5) !important;
}
.border_white_right {
	border-right: 1px dotted rgba(41,41,41,0.95);
}

.hover_popup {

}
.hover_popup:focus{
	outline:none;
    background:rgba(250,250,250,0.9);
    box-shadow:0 1px 0 rgba(41,41,41,0.4);
}
.hover_popup span {
    position:absolute;
    margin-top:-10px;
    margin-left:-260px;
    width: 200px;
    color: white;
    background: rgba(41,41,41,0.95);
    padding: 5px 10px;
    /*border-radius:3px;*/
    border: 2px solid white;
    opacity:0;
    z-index: 10000;
}
.hover_popup span:hover {
	opacity: 0;
}
.hover_popup:hover span, .hover_popup:focus span {
	outline:none;
    opacity:1;
}

.item_list {
	padding: 0;
	margin: 0;
}

#user_panel_parent {
	/*font-size: 1.2em !important;*/
	padding-right: 10px;
}

#user_panel {
	padding: 10px;
	border: 1px dotted rgba(41,41,41,0.5);
	max-height: 600px;
	overflow-y: scroll !important;
}


/* ------------------------------------------------------ Admin ------------------------------------------------------ */
#page_content_admin {
	padding-left: 30px; 
	padding-right: 30px;
}
.page-container-admin {
	background-color: rgba(250,250,250,0.98);
	margin: auto;
	margin-top: 10px;
	width: 100%;
}

.btn-admin, .btn-admin:focus {
	outline:none;
	margin: 5px;
	padding: 5px 9px 1px 9px; 
	background-color: transparent;
	/*border: 1px solid white;*/
	border-radius: 0;
	border-top: 1px solid rgba(41,41,41,0.5);
	border-bottom: 1px solid rgba(41,41,41,0.5);

	color: rgba(41,41,41,0.5);
}
.btn-admin:hover, .btn-admin-active {
	background-color: transparent;
	color: rgba(41,41,41,0.95);
	border-top: 1px solid rgba(41,41,41,0.95);
	border-bottom: 1px solid rgba(41,41,41,0.95);
}
.btn-action-admin, .btn-action-admin:focus {
	outline:none;
	margin:0;
	color: rgba(41,41,41,0.95);
	background-color: transparent;
	border-radius: 0;
	border-bottom: 1px solid transparent;
	padding: 2px;
}
.btn-action-admin:hover {
	color: rgba(41,41,41,0.95);
	border-bottom: 1px solid rgba(41,41,41,0.5);
}

.sep_order_admin {
	width: 200px;
	margin: auto;
	margin-bottom: 4px;
	border-bottom: 1px dotted rgba(41,41,41,0.5);
}

.nav_tabs_admin .active .btn-choice .inner_arrow{
	opacity: 1;
}
.nav_tabs_admin li {
	border-bottom: 1px solid transparent;
}
.nav_tabs_admin li:hover, .nav_tabs_admin li:active, .nav_tabs_admin .active {
	background-color: transparent !important;
	box-shadow: none;
	border-bottom: 1px solid rgba(41,41,41,0.95);
}
.nav_tabs_admin li a:hover, .nav_tabs_admin li a:focus, .nav_tabs_admin li a:active {
	background-color: transparent !important;
	box-shadow: none;
}

.nav_tabs_admin li.logout-btn:hover {
	background-color: rgba(196,1,1,0.5) !important;
}

.language_flag_sm_admin {
	width: 15px;
}



/* ------------------------------------------------------ Footer ------------------------------------------------------ */
.footer
{
	background-color: rgba(41,41,41,0.95);
	/*border-top: 1px solid rgba(250,250,250,0.6);*/
	text-align: center;
	width : 100%;
	min-height: 84px;
	margin: 0;
	padding: 4px;
	font-size: 1em;
	color: white !important;
}
.footer h4 {
	text-align: left !important;
	margin-left: 20%;
}
#contact_form select, #contact_form textarea {
	font-size: 1em;
}
textarea {
	resize: vertical;
}
.footer div.footer_part {
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer_main {
	margin-top: 5px;
}
.border_white_top {
	border-top: 1px solid white;
}
.multiple_lists ul li {
	list-style-type: none;
}
.footer_bottom {
	text-transform : uppercase;
}
.footer_bottom ul {
	margin-left: 14%;
}

.form_footer {
	margin-bottom: 30px !important;
}
.icon_presentation_footer {
	width: 60%;
}
.h2_footer {
	margin-top: 2px !important;
	padding: 0 !important;
	margin-bottom: 7px !important;
}
.submit_send_footer {
	margin-top: 7px !important;
	margin-bottom: 7px !important;
}
.sep_presentation_footer {
	padding: 0px !important;
	margin: 10px 0 !important;
	border-bottom: 1px dotted white;
}
.btn-footer, .btn-footer:focus {
	outline:none;
	margin: 10px !important;

	background-color: transparent;
	/*border: 1px solid white;*/
	border-radius: 0;
	border-bottom: 1.5px solid transparent;
	border-top: 1.5px solid transparent;
	box-shadow: none;
	color: inherit;
}
.btn-footer:hover {
	background-color: transparent;
	color: inherit;
	border-bottom: 1.5px solid white;
	border-top: 1.5px solid white;
	box-shadow: none;
}
@media (min-width: 1400px) {
	.btn-footer {
		padding: 5px 9px; 
		font-size: 1em;
	}
}
@media (min-width: 992px) and (max-width: 1399px){
	.btn-footer {
		padding: 4px 7px; 
		font-size: 0.9em;
	}
}
@media (min-width: 478px) and (max-width: 993px){
	.btn-footer {
		padding: 3px 5px; 
		font-size: 1em;
	}
}
@media (max-width: 477px){
	.btn-footer {
		padding: 3px 5px; 
		font-size: 1.2em;
	}
}