<!-- Button to top -->

<div id="button_to_top" data-menuanchor="mainSection" class="opcatiy0">
	<a href="#mainSection" style="no_style_a">
		<button class="btn btn-to-top">
			<img src="{{ asset('img/system/defaults/up_arrow.png') }}" alt="" class="btn_right_arrow"/>
			<br/>
		</button>
	</a>
</div>