<!-- Modals for "more info" -->

<!-- 1. Quality -->
<div class="modal bs-example-modal-lg fade" id="qualityModal" tabindex="-1" role="dialog" aria-labelledby="qualityModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="qualityModalLabel">
          {{ 'main.titles.qualityProduct' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        Le Buffet Francés c’est une alliance entre les produits d’un terroir local d’une exceptionnelle richesse et des recettes françaises traditionnelles. 
        <ul>
          <li>
            Ces produits sont frais et sélectionnés avec soin pour vous offrir les meilleures saveurs. 
          </li>
          <li>
            Nos produits frais sont conditionnés sous vide afin de leur procurer une meilleure conservation.
          </li>
          <li>
            Nous avons sélectionné des recettes traditionnelles de saucisses, pâtés, jambon qui peuvent être cuisinées avec nos produits d’épicerie fine.  L’offre ne serait pas complète sans nos confitures et nos liqueurs maison. Vous pourrez enfin bientôt retrouver toute une variété de conserves ainsi qu’une sélection de vins français.
            
          </li>
        </ul>
        N’attendez pas pour tester <a href="javascript:goToWithoutModal('{{ path('lbf_main_homepage') }}#ourProducts')" ><strong> nos produits </strong></a> grâce à <a href="javascript:goToWithoutModal('{{ path('lbf_main_homepage') }}#ourRecipes')" ><strong> nos recettes </strong></a> testées et approuvées.

        <script type="text/javascript">
          function goToWithoutModal(path) {
            $('#qualityModal').modal('hide');
            window.location = path;
          }
        </script>
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- 2. Reservation -->
<div class="modal bs-example-modal-lg fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="reservationModalLabel">
          {{ 'main.titles.securedPayment' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        Principe de la réservation:
        <ol>
          <li>
            Choisissez les éléments qui vous plaisient et ajoutez-les à votre panier
          </li>
          <li>
            Rendez-vous sur votre panier et validez votre commande depuis votre compte *
          </li>
          <li>
            Choisissez la date et l'heure qui vous conviennent le mieux pour venir les récupérer au magasin
          </li>
          <li>
            Cliquez sur envoyer
          </li>
          <li>
            Vous receverez un email de confirmation de commande, en attente de la validation d'un gérant de magasin
          </li>
        </ol>

        <strong>
          * Remarque :
        </strong>
        Si vous n'avez pas de compte, il vous suffira d'en créer un rapidement avec un email et un mot de passe !

        <br/><br/>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio enim asperiores totam quaerat quisquam magni a minima explicabo quod aspernatur iure deserunt, nisi eaque, reiciendis consequuntur quasi laudantium atque voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quae nisi, temporibus similique ea. Debitis consequuntur excepturi beatae. Autem porro quas consectetur ipsa. Nulla, impedit esse possimus porro. Veritatis, non.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, odio, necessitatibus esse impedit voluptatibus iusto id doloremque accusantium. Sequi dolor, vero. Rem eligendi odio, nobis harum beatae vitae facilis! Repudiandae.
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>