<!-- Modals for "more info" -->

<!-- 1. Quality -->
<div class="modal bs-example-modal-lg fade" id="qualityModal" tabindex="-1" role="dialog" aria-labelledby="qualityModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="qualityModalLabel">
          {{ 'main.titles.qualityProduct' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        Le Buffet Francés c’est une alliance entre les produits d’un terroir local d’une exceptionnelle richesse et des recettes françaises traditionnelles. Ces produits sont frais et sélectionnés avec soin pour vous offrir les meilleures saveurs. 
        Nos produits frais sont conditionnés sous vide afin de leur procurer une meilleure conservation.
        Nous avons sélectionné des recettes traditionnelles de saucisses, pâtés, jambon qui peuvent être cuisinées avec nos produits d’épicerie fine.  L’offre ne serait pas complète sans nos confitures et nos liqueurs maison. Vous pourrez enfin bientôt retrouver toute une variété de conserves ainsi qu’une sélection de vins français.
        N’attendez pas pour tester nos produits (lien vers produits) grâce à nos recettes (liens vers recettes) testées et approuvées.
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- 2. Recipe -->
<div class="modal bs-example-modal-lg fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="recipeModalLabel">
          {{ 'main.titles.variatyOfChoice' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        Le Buffet Francés c’est une alliance entre les produits d’un terroir local d’une exceptionnelle richesse et des recettes françaises traditionnelles. Ces produits sont frais et sélectionnés avec soin pour vous offrir les meilleures saveurs. 
        Nos produits frais sont conditionnés sous vide afin de leur procurer une meilleure conservation.
        Nous avons sélectionné des recettes traditionnelles de saucisses, pâtés, jambon qui peuvent être cuisinées avec nos produits d’épicerie fine.  L’offre ne serait pas complète sans nos confitures et nos liqueurs maison. Vous pourrez enfin bientôt retrouver toute une variété de conserves ainsi qu’une sélection de vins français.
        N’attendez pas pour tester nos produits (lien vers produits) grâce à nos recettes (liens vers recettes) testées et approuvées.

      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- 3. Reservation -->
<div class="modal bs-example-modal-lg fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title center" id="reservationModalLabel">
          {{ 'main.titles.securedPayment' | trans }}
        </h2>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, iste quidem! Doloremque ut non, sequi provident nostrum distinctio, blanditiis ducimus beatae ea voluptas, esse recusandae quam similique facilis aperiam itaque?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, distinctio, nobis? Facilis suscipit sunt obcaecati non aspernatur blanditiis perferendis, ex earum? Soluta ut odio cupiditate, praesentium impedit sed nulla atque.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat necessitatibus alias, hic natus facilis dolore sapiente, sint omnis nostrum. Possimus, nam omnis, perspiciatis assumenda suscipit corporis. Facilis, laudantium, quo!
        <ol>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, est! Totam repudiandae accusamus fugiat vel culpa libero consequuntur commodi dicta magni aut aspernatur adipisci, error tempore dolorem, minima cumque quaerat.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore explicabo molestiae magni error in temporibus maxime, esse autem, at pariatur quidem officiis tenetur molestias numquam nemo quod tempora reprehenderit provident!
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nostrum est, ipsam reiciendis? Minima amet vitae accusamus id doloremque, eius corporis odit dolorum doloribus, nesciunt corrupti. Voluptatum, et sapiente numquam.
          </li>
        </ol>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio enim asperiores totam quaerat quisquam magni a minima explicabo quod aspernatur iure deserunt, nisi eaque, reiciendis consequuntur quasi laudantium atque voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quae nisi, temporibus similique ea. Debitis consequuntur excepturi beatae. Autem porro quas consectetur ipsa. Nulla, impedit esse possimus porro. Veritatis, non.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, odio, necessitatibus esse impedit voluptatibus iusto id doloremque accusantium. Sequi dolor, vero. Rem eligendi odio, nobis harum beatae vitae facilis! Repudiandae.
      </div>
      <div class="modal-footer padding0">
        <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>