<!-- FaceBook activities -->
<div class="fb-activity" data-site="https://www.facebook.com/pages/Livenup-Events/195896520515403" data-action="likes, recommends" data-width="250" data-colorscheme="light" data-header="false">
</div>

<hr/>
<!-- Photos -->

<img src="" alt=""/>