{# src/LBF/AdminBundle/Resources/views/Admin/emailCompleteAdmin.html.twig #}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

  <head>

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
      Le Buffet Francés - Commande client terminée
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body >
    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
      <tr >
        <td style="padding:0 0 20px 0; " bgcolor="#D4D5D1" >
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; " >
            <tr >
              <td align="center" style="padding:10px 0 10px 0; color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
                <div style="width:100%; " class="" id="pre-header-text" >
                  Cet email provient de <strong>Le Buffet Francés.</strong>
                </div>
              </td>
            </tr>
            <tr>
              <td bgcolor="rgba(100,100,100,0.8)" width="600" valign="top" style="border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: #4d5259;">
                <a href="http://www.lebuffetfrances.com" target="_blank">
                  <img src="http://www.lebuffetfrances.com/img/system/email/email_header.png" alt="Banière Le Buffet Francés" border="0" width="600" height="95" style="display:block; color: white; text-align:center;"/>
                </a>
              </td>
            </tr>
            <tr >
              <td bgcolor="#FFFFFF" style="padding:20px 15px 20px 15px; " >
                <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                  <tr >
                    <td width="100%" valign="top" >
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                        <tr >
                          <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:800; font-size:16px; " >
                            <div style="width:100%; " class="" id="title_one_half" >
                              COMMANDE TERMINÉE
                            </div>
                          </td>
                        </tr>
                        <tr >
                          <td style="color: #4d5259; font-family:Open Sans, 'Helvetica Neue', Helvetica, sans-serif; font-weight:300; font-size:12px; " >
                            <div style="width:100%; text-align:justify;">
                                Vous venez de passer la commande n° <strong>{{ order.id }}</strong> en <strong>terminée</strong>.
                                <br/><br/>
                                La commande vallait
                                {% set total_price_general = 0 %}
                                {% for item_array in order.elements %}
                                  {% set item = item_array['item'] %}
                                  {% set qty = item_array['qty'] %}
                                          {% set total_price = qty * item.price %}
                                          {% set total_price_general = total_price_general + total_price %}
                                {% endfor %}
                                <strong>S/. {{ total_price_general }}</strong>.
                                <br/>
                                Elle était demandée pour le <strong>{{ order.deliveryAt|date('d M Y') }}</strong> à <strong>{{ order.deliveryAt|date('H:i') }}</strong>.
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            
          </table>
        </td>
      </tr>
    </table>
    
    <script type="text/javascript" src="/js/public/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/forwardemail.js"></script>
    <link rel="stylesheet" href="/css/forwardemail.css" type="text/css" />
  </body>
</html>

{% endblock %}


{# block subject %}
{% autoescape false %}
[LBF Administration] Message : 
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}

Hello !

De la part de l'administration:


Cordialement,
La Team de la Grande Boucle Etudiante

{% endautoescape %}
{% endblock #}
