{# src/LBF/AdminBundle/Resources/User/indexAdmin.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Administration
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content_admin" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section section_padding">

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}

		        		<!-- BEGIN nav admin -->
				          {% include 'includes/nav_admin.html.twig' %}
				        <!-- END nav admin -->

					  	<div id="section_admin" class="center">
					  		<br/><br/><br/><br/><br/>

					  		<strong>Stats' :</strong>

					  	</div>
					  	
		        	{% else %}
		        		<div>
		        			<br/><br/><br/><br/><br/>
		        			You're not allowed on this part of the website.
		        		</div>
		        	{% endif %}


		        <script>
              		function areYouSureDelete(path) {
              			if (confirm('Êtes-vous sûr(e) de vouloir supprimer cette commande ?')) {
              				window.location = path;
              			}
              		}
              		function areYouSureComplete(path) {
              			if (confirm('Le client est-il effectivement passer récupérer sa commande ?')) {
              				window.location = path;
              			}
              		}
              		function areYouSureDeleteComplete(path) {
              			if (confirm('Êtes-vous sûr(e) de vouloir supprimer cette commande ?')) {
              				window.location = path;
              			}
              		}
              		function areYouSureDeleteElement(path) {
              			if (confirm('Êtes-vous sûr(e) de vouloir supprimer ce produit ?')) {
              				window.location = path;
              			}
              		}
              		function areYouSureDeleteRecipe(path) {
              			if (confirm('Êtes-vous sûr(e) de vouloir supprimer cette recette ?')) {
              				window.location = path;
              			}
              		}
              	</script>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}