{# src/LBF/AdminBundle/Resources/User/newsletterEmails.html.twig #}

{% extends "LBFAdminBundle::admin_general.html.twig" %}

{% block title %}
  {{ parent() }} - Administration
{% endblock %}

{% block LBF_Admin_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_content" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="fullpage">
			<div class="section" id="section9">
				<br/><br/>
				
				<div class="row">
					<div class="col-md-4">
						<a href="{{ path('lbf_admin_homepage') }}" class="btn btn-admin">
							Retour
						</a>
					</div>

					<div class="col-md-4">
						<h2 class="center">
							Administration du site
						</h2>
					</div>

					<div class="col-md-4"></div>
				</div>
				<hr/>

					<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
		        	{% if is_granted("ROLE_ADMIN") %}
		        		<div class="row">
		        			<div class="form-group">
								<div class="input-icon">
				        			<textarea style="color:black !important;" class="form-control select2" name="newsletterEmails_emails" id="newsletterEmails_emails">{% set index_email = 0 %}{% for email in newsletterEmails %}{{ email.email }}{% if index_email < newsletterEmails|length %}, {% endif %}{% set index_email = index_email + 1 %}{% endfor %}</textarea>
								</div>
							</div>
		        		</div>
		        	{% else %}
		        		<div>
		        			Vous n'etes pas autorisé à etre sur cette partie du site.
		        		</div>
		        	{% endif %}

			</div>

		</div>
	</div>
	<!-- END CONTENT -->

{% endblock LBF_Admin_body %}